/*--------------------------------------------------------
/* main menu
--------------------------------------------------------*/

@color: rgba(219, 219, 219, 0.8);
@active_color: #e7e7e7;
@border_color: #49565D;
@main_background: #3A4B55;
@hover_background: #2C3A42;
@hover_background_level2: #2d3b44;
@hover_background_level3: #2b3841;
@hover_background_level4: #2a363f;
@active_border_color: #27333b;
@active_background: #27333b;
@left_marker_color: #1f2b42;
@left_marker_color_shadow: #434d59;
@left_marker_active_color: #4291a6;
@left_marker_active_color_shadow: #7bc8d7;
@font_size: 12px;
@icon_size: 16px;

.sidemenu {
  background-color: @main_background;
}

#main-menu {
  background-color: @main_background;
  ul {
    padding: 0;
    > li {
      border-top: 1px solid @border_color;
      position: relative;
      font-size: @font_size;
      i {
        font-size: @icon_size;
        position: absolute;
        left: 14px;
        top: 14px;
        opacity: 0.8;
      }
      >a {
        color: @color;
        padding: 13px 40px 14px 40px;
        display: block;
        border-left: 3px solid transparent;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          text-decoration: none;
        }
      }//a

      .glow {
        position: absolute;
        height: 40px;
        width: 5px;
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        -o-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
        background: @left_marker_color;
        -webkit-box-shadow: 0 0 2px 1px @left_marker_color_shadow inset;
        -moz-box-shadow: 0 0 2px 1px @left_marker_color_shadow inset;
        box-shadow: 0 0 2px 1px @left_marker_color_shadow inset;
        margin-top: 2px;
        z-index: 100;
      }//glow

      span.plus,
      span.minus {
        position: absolute;
        right: 20px;
      }


      &:hover {
        .glow {
          background: @left_marker_active_color;
          -webkit-box-shadow: 0 0 2px 1px @left_marker_active_color_shadow inset;
          -moz-box-shadow: 0 0 2px 1px @left_marker_active_color_shadow inset;
          box-shadow: 0 0 2px 1px @left_marker_active_color_shadow inset;
        }
        > a {
          color: @active_color;
          background-color: @hover_background;
        }
      }//:hover

      &.has-ul {
        li {
          > a {
            border-left: 3px solid transparent;
          }
        }

        ul.hidden-ul {
          display: none;
          transition: 0.25s ease-in;
          a {
            font-weight: inherit;
          }
        }
      }

      //ul li.active
      &.active {
        .glow {
          background: @left_marker_active_color;
          -webkit-box-shadow: 0 0 2px 1px @left_marker_active_color_shadow inset;
          -moz-box-shadow: 0 0 2px 1px @left_marker_active_color_shadow inset;
          box-shadow: 0 0 2px 1px @left_marker_active_color_shadow inset;
        }
        > a {
          color: @active_color;
          background-color: @active_background;
          border-color: @active_border_color;
        }

        &.has-ul > ul.hidden-ul {
          display: inherit;
          background-color: @hover_background;
          li.active {
            &.has-ul > ul.hidden-ul {
              background-color: @hover_background_level2;
              > li {
                > a {
                  padding: 13px 40px 14px 50px;
                }
              }
              li.active {
                &.has-ul > ul.hidden-ul {
                  background-color: @hover_background_level3;
                  > li {
                    > a {
                      padding: 13px 40px 14px 60px;
                    }
                  }
                  li.active {
                    &.has-ul > ul.hidden-ul {
                      background-color: @hover_background_level4;
                      > li {
                        > a {
                          padding: 13px 40px 14px 70px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }


      }//active
    }//li
  }//ul
}