/*--------------------------------------------------------
/* main menu
--------------------------------------------------------*/

@dark_color: #a4a4a4;
@dark_active_color: lighten(@dark_color, 40%);
@dark_main_background: #3A4B55;
@dark_hover_background: darken(@dark_main_background, 5%);
@dark_active_background: darken(@dark_main_background, 10%);
@dark_border_color: #49565D;
@dark_active_border_color: #27333b;
@dark_left_marker_color: #1f2b42;
@dark_left_marker_color_shadow: #434d59;
@dark_left_marker_active_color: #4291a6;
@dark_left_marker_active_color_shadow: #7bc8d7;
@dark_font_size: 12px;
@dark_icon_size: 16px;

@light_color: #595959;
@light_active_color: darken(@light_color, 30%);
@light_main_background: #f7f2f1;
@light_hover_background: darken(@light_main_background, 5%);
@light_active_background: darken(@light_main_background, 10%);
@light_border_color: #e1d8d5;
@light_active_border_color: #747170;
@light_left_marker_color: #1f2b42;
@light_left_marker_color_shadow: #434d59;
@light_left_marker_active_color: #4291a6;
@light_left_marker_active_color_shadow: #7bc8d7;
@light_font_size: 12px;
@light_icon_size: 16px;

@light2_color: #595959;
@light2_active_color: darken(@light2_color, 30%);
@light2_main_background: none;
@light2_hover_background: none;
@light2_active_background: none;
@light2_border_color: none;
@light2_active_border_color: none;
@light2_left_marker_color: #1f2b42;
@light2_left_marker_color_shadow: #434d59;
@light2_left_marker_active_color: #4291a6;
@light2_left_marker_active_color_shadow: #7bc8d7;
@light2_font_size: 12px;
@light2_icon_size: 16px;

.sidemenu {
  background-color: @dark_main_background;
}

/* dark
--------------------------------------------------------*/
#main-menu.dark {
  background-color: @dark_main_background;
  ul {
    padding: 0;
    > li {
      border-top: 1px solid @dark_border_color;
      position: relative;
      font-size: @dark_font_size;
      i {
        font-size: @dark_icon_size;
        position: absolute;
        left: 14px;
        top: 14px;
        opacity: 0.8;
      }
      >a {
        color: @dark_color;
        padding: 13px 40px 14px 40px;
        display: block;
        border-left: 3px solid transparent;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          text-decoration: none;
        }
      }//a

      .glow {
        position: absolute;
        height: 40px;
        width: 5px;
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        -o-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
        background: @dark_left_marker_color;
        -webkit-box-shadow: 0 0 2px 1px @dark_left_marker_color_shadow inset;
        -moz-box-shadow: 0 0 2px 1px @dark_left_marker_color_shadow inset;
        box-shadow: 0 0 2px 1px @dark_left_marker_color_shadow inset;
        margin-top: 2px;
        z-index: 100;
      }//glow

      span.plus,
      span.minus {
        position: absolute;
        right: 20px;
      }


      &:hover {
        .glow {
          background: @dark_left_marker_active_color;
          -webkit-box-shadow: 0 0 2px 1px @dark_left_marker_active_color_shadow inset;
          -moz-box-shadow: 0 0 2px 1px @dark_left_marker_active_color_shadow inset;
          box-shadow: 0 0 2px 1px @dark_left_marker_active_color_shadow inset;
        }
        > a {
          color: @dark_active_color;
          background-color: @dark_hover_background;
        }
      }//:hover

      &.has-ul {
        li {
          > a {
            border-left: 3px solid transparent;
          }
        }

        ul.hidden-ul {
          display: none;
          transition: 0.25s ease-in;
          a {
            font-weight: inherit;
          }
        }
      }

      //ul li.active
      &.active {
        .glow {
          background: @dark_left_marker_active_color;
          -webkit-box-shadow: 0 0 2px 1px @dark_left_marker_active_color_shadow inset;
          -moz-box-shadow: 0 0 2px 1px @dark_left_marker_active_color_shadow inset;
          box-shadow: 0 0 2px 1px @dark_left_marker_active_color_shadow inset;
        }
        > a {
          color: @dark_active_color;
          background-color: @dark_active_background;
          border-color: @dark_active_border_color;
        }

        &.has-ul > ul.hidden-ul {
          display: inherit;
          background-color: @dark_hover_background;
          li.active {
            &.has-ul > ul.hidden-ul {
              background-color: darken(@dark_hover_background, 2%);
              > li {
                > a {
                  padding: 13px 40px 14px 50px;
                }
              }
              li.active {
                &.has-ul > ul.hidden-ul {
                  background-color: darken(@dark_hover_background, 5%);
                  > li {
                    > a {
                      padding: 13px 40px 14px 60px;
                    }
                  }
                  li.active {
                    &.has-ul > ul.hidden-ul {
                      background-color: darken(@dark_hover_background, 7%);
                      > li {
                        > a {
                          padding: 13px 40px 14px 70px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }


      }//active
    }//li
  }//ul
}

/* light
--------------------------------------------------------*/
#main-menu.light {
  background-color: @light_main_background;
  ul {
    padding: 0;
    > li {
      border-top: 1px solid @light_border_color;
      position: relative;
      font-size: @light_font_size;
      i {
        font-size: @light_icon_size;
        position: absolute;
        left: 14px;
        top: 14px;
        opacity: 0.8;
      }
      >a {
        color: @light_color;
        padding: 13px 40px 14px 40px;
        display: block;
        border-left: 3px solid transparent;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          text-decoration: none;
        }
      }//a

      .glow {
        position: absolute;
        height: 40px;
        width: 5px;
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        -o-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
        background: @light_left_marker_color;
        -webkit-box-shadow: 0 0 2px 1px @light_left_marker_color_shadow inset;
        -moz-box-shadow: 0 0 2px 1px @light_left_marker_color_shadow inset;
        box-shadow: 0 0 2px 1px @light_left_marker_color_shadow inset;
        margin-top: 2px;
        z-index: 100;
      }//glow

      span.plus,
      span.minus {
        position: absolute;
        right: 20px;
      }


      &:hover {
        .glow {
          background: @light_left_marker_active_color;
          -webkit-box-shadow: 0 0 2px 1px @light_left_marker_active_color_shadow inset;
          -moz-box-shadow: 0 0 2px 1px @light_left_marker_active_color_shadow inset;
          box-shadow: 0 0 2px 1px @light_left_marker_active_color_shadow inset;
        }
        > a {
          color: @light_active_color;
          background-color: @light_hover_background;
        }
      }//:hover

      &.has-ul {
        li {
          > a {
            border-left: 3px solid transparent;
          }
        }

        ul.hidden-ul {
          display: none;
          transition: 0.25s ease-in;
          a {
            font-weight: inherit;
          }
        }
      }

      //ul li.active
      &.active {
        .glow {
          background: @light_left_marker_active_color;
          -webkit-box-shadow: 0 0 2px 1px @light_left_marker_active_color_shadow inset;
          -moz-box-shadow: 0 0 2px 1px @light_left_marker_active_color_shadow inset;
          box-shadow: 0 0 2px 1px @light_left_marker_active_color_shadow inset;
        }
        > a {
          color: @light_active_color;
          background-color: @light_active_background;
          border-color: @light_active_border_color;
        }

        &.has-ul > ul.hidden-ul {
          display: inherit;
          background-color: @light_hover_background;
          li.active {
            &.has-ul > ul.hidden-ul {
              background-color: darken(@light_hover_background, 2%);
              > li {
                > a {
                  padding: 13px 40px 14px 50px;
                }
              }
              li.active {
                &.has-ul > ul.hidden-ul {
                  background-color: darken(@light_hover_background, 5%);
                  > li {
                    > a {
                      padding: 13px 40px 14px 60px;
                    }
                  }
                  li.active {
                    &.has-ul > ul.hidden-ul {
                      background-color: darken(@light_hover_background, 7%);
                      > li {
                        > a {
                          padding: 13px 40px 14px 70px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }


      }//active
    }//li
  }//ul
}

/* light2
--------------------------------------------------------*/
#main-menu.light2 {
  background-color: @light2_main_background;
  > ul {
    > li {
      > a {
        font-weight: 600;
      }
    }
  }
  ul {
    padding: 0;
    > li {
      border-top: 1px solid @light2_border_color;
      position: relative;
      font-size: @light2_font_size;
      i {
        font-size: @light2_icon_size;
        position: absolute;
        left: 10px;
        top: 6px;
        opacity: 0.8;
      }
      >a {
        color: @light2_color;
        padding: 5px 40px 5px 36px;
        display: block;
        border-left: 3px solid transparent;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }//a

      .glow {
        display: none;
      }

      span.plus,
      span.minus {
        position: absolute;
        right: 20px;
      }


      &:hover {
        > a {
          color: @light2_active_color;
          background-color: @light2_hover_background;
        }
      }//:hover

      &.has-ul {
        ul.hidden-ul {
          display: none;
          transition: 0.25s ease-in;
        }
        > a {
          font-weight: 600;
        }
      }

      //ul li.active
      &.active {

        > a {
          color: @light2_active_color;
          font-weight: 600;
          background-color: @light2_active_background;
          border-color: @light2_active_border_color;
        }

        &.has-ul > ul.hidden-ul {
          display: inherit;
          background-color: @light2_hover_background;
          > li {
            > a {
              padding: 0 40px 2px 36px;
            }
          }

          li.active {
            &.has-ul > ul.hidden-ul {

              > li {
                > a {
                  padding: 1px 40px 0 46px;
                }
              }
              li.active {
                &.has-ul > ul.hidden-ul {

                  > li {
                    > a {
                      padding: 1px 40px 0 56px;
                    }
                  }
                  li.active {
                    &.has-ul > ul.hidden-ul {

                      > li {
                        > a {
                          padding: 1px 40px 0 66px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }//active
    }//li
  }//ul
}