.left-sidebar(ng-init="class='light2'")
  #main-menu(main-menu="home.mainMenu" ng-class="[class]")

  %button.btn.btn-default(ng-click="class = 'dark'")
    dark style

  %button.btn.btn-default(ng-click="class = 'light'")
    light style

  %button.btn.btn-default(ng-click="class = 'light2'")
    light2 style
